<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>deleted</key>
		<array>
			<string>B4E9F235-0BC7-4FAE-8DDF-3831AFA15A5E</string>
			<string>40D56312-0B86-45F5-9CC4-520795544A4C</string>
			<string>D3793CB3-5284-45D2-B736-A3D19D9BF67E</string>
		</array>
		<key>name</key>
		<string>Bobby's Bundle</string>
		<key>ordering</key>
		<array>
			<string>35F3E7E8-50F5-4492-9144-254077373437</string>
			<string>6332859A-BACB-4C71-9294-8A898FB94DFE</string>
			<string>643BDD30-0A2C-41AF-A593-2D60FFB165C3</string>
			<string>755CBFCF-2C32-48D6-8AC2-FF4F6DF77EF3</string>
			<string>0B53C942-BF37-495A-9B7D-F5B0E8F962F3</string>
			<string>F5AE6004-D143-49DD-A453-17391839E498</string>
		</array>
	</dict>
	<key>deleted</key>
	<array/>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>7B2B8B1C-3933-469A-9085-3441C598BA2B</string>
</dict>
</plist>
